.has-strong-magenta-background-color{
    background-color:#6128A1
}
.has-light-grayish-magenta-background-color{
    background-color:#E94B59
}.has-very-light-gray-background-color{
    background-color:#111111
}.has-very-dark-gray-background-color{
    background-color:#FFFFFF
}
.has-strong-magenta-color{
    color:#6128A1
}
.has-light-grayish-magenta-color{
    color:#E94B59
}.has-very-light-gray-color{
    color:#111111
}.has-very-dark-gray-color{
    color:#FFFFFF
}